torch==2.5.1+cu118
torchvision==0.20.1+cu118
segmentation-models-pytorch
torchmetrics
albumentations
loguru
tqdm
optuna==4.0.0
optuna-integration==4.0.0
kornia==0.7.4
opencv-python==4.7.0.68
opencv-contrib-python==4.9.0.80
opencv-python-headless==4.10.0.84
opencv-contrib-python-headless==4.10.0.84
PyQt5-tools
PyQt5
PyQtChart
pandas==2.2.3
numpy==1.24.4